@font-face {
  src: url("../fonts/Circe-Light.woff2") format("woff2"), url("../fonts/Circe-Light.woff") format("woff");
  font-family: "Circe";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe-Regular.woff") format("woff");
  font-family: "Circe";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Circe-Bold.woff2") format("woff2"), url("../fonts/Circe-Bold.woff") format("woff");
  font-family: "Circe";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Pobeda-Bold.woff2") format("woff2"), url("../fonts/Pobeda-Bold.woff") format("woff");
  font-family: "Pobeda";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --c-primary: #8a2dd6;
  --c-text-regular: #333333;
  --c-text-second: #444;
  --fz-regular: 15px;
  --fz-title-section: 44px;
  --z-dropdown: 10;
  --z-tooltip: 20;
  --z-sticky-header: 90;
  --z-popup: 100;
  --z-burger-button: 50;
  --z-burger: 110;
  --ff-text-regular: "Circe", "Arial", "Helvetica", sans-serif;
  --ff-title: "Pobeda", "Arial", "Helvetica", sans-serif;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  visibility: hidden;
}

a,
button {
  cursor: pointer;
}

input,
button {
  display: inline-block;
  border: none;
  padding: 0;
  background: none;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
ol {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: var(--ff-text-regular);
  font-size: var(--fz-regular);
  font-weight: 300;
  color: var(--c-text-regular);
  background-color: var(--c-primary);
  line-height: 1.32;
}

picture,
picture img {
  width: 100%;
  display: block;
}

.fixed {
  position: fixed;
  left: 0;
  top: 0;
}

.popups {
  display: none;
}

.pop-thanks {
  border-radius: 12px;
  padding: 40px 20px;
  width: 300px;
  background-color: #fff;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.burger__line {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: block;
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #333;
  border-radius: 4px;
}

.burger--active .burger__line {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.burger--active .burger__line:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger--active .burger__line:nth-child(2) {
  display: none;
}

.burger--active .burger__line:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: -100%;
}

.container {
  padding: 0 10px;
}

.wrapper-phone {
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.wrapper-phone:after,
.wrapper-phone:before {
  content: "";
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 16px;
  left: calc(50% - 214px);
  display: block;
  height: 968px;
  width: 452px;
  z-index: 100;
  pointer-events: none;
}

.wrapper-phone:before {
  border-radius: 68px;
  border: 26.5px solid #222;
  -webkit-box-shadow: 0 0 0 100vw var(--c-primary);
          box-shadow: 0 0 0 100vw var(--c-primary);
}

.wrapper-phone__inner {
  padding-top: 50px;
  padding-left: 26px;
}

@media (max-width: 428px) {
  .wrapper-phone__inner {
    padding: 0;
  }
  .wrapper-phone::before,
  .wrapper-phone::after {
    display: none;
  }
}

.button {
  text-align: center;
  font-family: var(--ff-text-regular);
  font-weight: 400;
}

.button__inner {
  position: relative;
  z-index: 2;
}

.button--secondary {
  padding-top: 11px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 17px;
  color: #b1b1b1;
  border: 1px solid #e3e3e3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
}

.button--primary {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#9451f8), to(#6019c9));
  background: linear-gradient(180deg, #9451f8 0%, #6019c9 100%);
  border-radius: 10px;
  display: block;
}

.button--primary:after {
  content: "";
  display: block;
  width: 60%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9451f8), to(#6019c9));
  background: linear-gradient(180deg, #9451f8 0%, #6019c9 100%);
  border-radius: 10px;
  -webkit-filter: blur(54px);
          filter: blur(54px);
}

.input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 23px;
  padding-bottom: 20px;
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.39);
}

.input:focus {
  border-color: var(--c-primary);
}

.poppa__closer {
  font-weight: 300;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.branding__logo {
  height: 76px;
  -o-object-fit: contain;
     object-fit: contain;
}

.section__title {
  margin-bottom: 15px;
  font-family: var(--ff-title);
  font-size: 31px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  line-height: 104.4%;
}

.section__title--color {
  color: var(--c-primary);
}

.section__text {
  color: var(--c-text-regular);
  font-weight: 300;
}

.section__text--color {
  color: var(--c-primary);
}

.section__text--regular {
  font-weight: 500;
}

.section__text--bold {
  font-weight: 600;
}

.section__text--underline {
  border-bottom: 1px solid #333;
}

.section-list__item:before {
  content: "";
  display: block;
  min-width: 1em;
  min-height: 1em;
  margin-right: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card__title {
  font-size: 18px;
  line-height: 131.4%;
  font-weight: 600;
  margin-bottom: 8px;
}

.card__title--divider-bottom {
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #f2f2f2;
  margin-left: -20px;
  width: calc(100% + 40px);
}

.card__desc {
  font-weight: 300;
}

.section__caption {
  font-weight: 600;
  font-size: 18px;
}

.section__caption:before {
  content: "...";
  font-size: 40px;
  line-height: 0px;
  font-weight: 600;
  color: #dbdbdb;
  position: relative;
  top: -3px;
  letter-spacing: -0.05em;
  margin-right: 7px;
}

.swiper-horizontal > .swiper-scrollbar {
  max-width: calc(100% - 30px);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.swiper-scrollbar {
  background-color: transparent;
  position: relative;
}

.swiper-scrollbar:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 2px;
  background: #e0e0e0;
}

.swiper-scrollbar-drag {
  border-radius: 0;
  background-color: var(--c-primary);
  height: 4px;
  z-index: 2;
}

.header {
  margin-bottom: 10px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-list {
  font-weight: 600;
  margin-bottom: 16px;
}

.hero-list__item {
  color: var(--c-text-regular);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
}

.hero-list__item:before {
  background-image: url("../img/common/bullet-check.svg");
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero__desc {
  margin-bottom: 16px;
}

.hero__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 15px;
}

.hero__offer-pic {
  width: 178px;
  margin-left: -10px;
}

.hero__offer-img {
  width: 100%;
}

.hero__img {
  width: calc(100% + 20px);
  margin-left: -10px;
  height: 339px;
  background-image: url("../img/hero/hero.png"), url("../img/hero/hero-bg-2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.consult {
  background-color: #f1f2f8;
  padding-top: 35px;
  overflow: hidden;
}

.consult__title {
  font-size: 35px;
  margin-bottom: 5px;
  text-align: center;
}

.consult__subtitle {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 131.4%;
  text-align: center;
  color: #333333;
  text-align: center;
}

.consult-card {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 20px rgba(206, 206, 206, 0.25);
          box-shadow: 0px 4px 20px rgba(206, 206, 206, 0.25);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 25px;
}

.consult-card:last-child {
  margin-bottom: 0;
}

.consult-card--no-pt {
  padding-top: 0;
}

.consult-card__title {
  text-align: center;
}

.consult-card__desc {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
}

.consult-card__desc:last-child {
  margin-bottom: 0;
}

.consult-card__desc--bottom {
  color: var(--c-primary);
  font-weight: 600;
}

.consult-card__desc--bottom-bubble {
  position: relative;
  margin-bottom: 12px;
}

.consult-card__desc--bottom-bubble:after {
  content: attr(data-bubble-bottom);
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--c-primary);
  margin-top: 12px;
  font-size: 19px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}

.consult-card__desc--bottom-bubble-transparent:after {
  background-color: #dcd3e3;
}

.consult-card__pic {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

.consult-decor__bottom {
  background-image: url("../img/consult/consult-bottom.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  width: calc(100% + 20px);
  height: 103px;
  margin-left: -10px;
}

.result {
  padding-top: 25px;
  padding-bottom: 25px;
}

.result__title {
  text-align: center;
  font-size: 35px;
}

.result__gallery {
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.result-card {
  margin-bottom: 20px;
  text-align: center;
}

.result-card:last-child {
  margin-bottom: 0;
}

.result-card__pic {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.result-card__pic--client {
  max-width: 100%;
  margin-top: -40px;
}

.cases {
  padding-top: 80px;
  background-color: #f1f2f8;
  position: relative;
  overflow: hidden;
}

.cases-decor__top {
  margin-left: -20px;
  width: calc(100% + 40px);
  height: 90px;
  background-image: url(../img/result/reult-bottom.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -30px;
  z-index: 1;
}

.cases__title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
}

.cases-slider {
  margin-left: -10px;
  width: calc(100% + 20px);
  padding-left: 10px;
}

.cases-case {
  max-width: 275px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 20px rgba(206, 206, 206, 0.25);
          box-shadow: 0px 4px 20px rgba(206, 206, 206, 0.25);
  border-radius: 10px;
  padding-top: 14px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.cases-case__pic {
  display: block;
  width: 100%;
  height: 175px;
  border: 1px dashed #222;
  border-radius: 10px;
  margin-bottom: 16px;
}

.cases-popup {
  max-width: 100%;
}

.cases-popup-slider-slide {
  height: 500px;
}

.cases-popup-slider-slide .cases-popup__pic {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.cases-popup-slider-slide__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  position: relative;
}

.cases-popup-slider-slide:first-of-type .cases-popup-slider-slide__inner {
  overflow: auto;
}

.cases-popup-slider-slide:first-of-type .cases-popup__pic:first-of-type {
  width: initial;
  height: initial;
  -o-object-fit: initial;
     object-fit: initial;
  position: absolute;
  left: 0;
  top: 0;
}

.cases-case__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.cases-case__row {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 300;
}

.cases-case__row:last-child {
  margin-bottom: 0;
}

.cases-case__title {
  margin-right: 5px;
}

.cases-case__decs--country::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 15px;
  margin-left: 5px;
  background-image: url("../img/flags/norway.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cases-case__decs--result {
  font-weight: 600;
}

.cases-decor__bottom {
  width: 100%;
  height: 103px;
  background-image: url("../img/cases/cases-bottom.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
}

.pop-pinch {
  height: 80vh;
  width: 100%;
  margin-bottom: -40px;
}

.pop-pinch .cases-case__pic {
  width: 100%;
  height: 100%;
}

.person {
  background-image: url("../img/person/person-bg.jpg");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.person__title {
  font-size: 35px;
}

.person__caption {
  font-weight: 600;
  margin-bottom: 14px;
}

.person-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: var(--ff-text-regular);
}

.person-list__item::before {
  min-width: 1.25em;
  background-image: url("../img/common/bullet-laures.svg");
  position: relative;
  top: 2px;
}

.person__picture {
  margin-left: -10px;
  width: calc(100% + 20px);
}

.reviews {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #f3f1f8;
  overflow: hidden;
}

.reviews__title {
  margin-bottom: 25px;
}

.reviews-slider {
  margin-left: -10px;
  width: calc(100% + 20px);
  padding-left: 10px;
}

.reviews-card {
  max-width: 275px;
  padding: 30px 15px;
  margin-bottom: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 20px rgba(206, 206, 206, 0.25);
          box-shadow: 0px 4px 20px rgba(206, 206, 206, 0.25);
  border-radius: 10px;
}

.reviews-card__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 15px;
}

.reviews-card__img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 15px;
}

.reviews-card__name {
  font-weight: 600;
  font-size: 18px;
}

.reviews-card__review {
  font-size: 16px;
  font-family: var(--ff-text-regular);
  font-weight: 400;
}

.lead {
  position: relative;
  padding-top: 30px;
  background-image: url("../img/lead/lead-bg.jpg");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.lead-decor__top {
  width: 100%;
  height: 50px;
  background-image: url("../img/lead/lead-top-blur.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -25px;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.lead__title {
  font-size: 25px;
  margin-bottom: 10px;
}

.lead__desc {
  margin-bottom: 15px;
}

.lead__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 15px;
}

.lead__caption::before {
  top: 1px;
}

.lead__caption-text {
  display: block;
  font-weight: 400;
}

.lead__caption-text--highlight {
  font-weight: 600;
}

.lead-decor__bottom {
  background-image: url("../img/lead/lead-hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 305px;
  width: calc(100% + 20px);
  margin-left: -10px;
}

.lead__book {
  margin-bottom: 15px;
}

.footer {
  background-color: #302f3e;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 35px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-branding {
  margin-bottom: 14px;
}

.footer__phone {
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__phone::before {
  content: "";
  display: block;
  min-width: 28px;
  height: 28px;
  margin-right: 8px;
  margin-top: -4px;
  background-image: url("../img/common/phone.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.footer__phone:hover {
  color: var(--c-primary);
}

.footer__legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.footer__legal-link {
  display: block;
  text-align: center;
  border-bottom: 1px solid #fff;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 10px;
}

.footer__legal-link:last-child {
  margin-bottom: 0;
}

.footer__legal-link:hover {
  color: var(--c-primary);
  border-bottom-color: var(--c-primary);
}

.footer__entry {
  width: 100%;
  text-align: center;
  line-height: 22px;
  margin-bottom: 10px;
}

.footer__entry-item {
  font-family: var(--ff-text-regular);
  font-weight: 500;
}

.footer__rights {
  width: 100%;
  text-align: center;
  opacity: 0.3;
}

@media (max-width: 360px) {
  .lead-decor__bottom {
    height: 235px;
  }
}

.timer {
  position: relative;
  z-index: 3;
  padding: 20px 10px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 35px;
}

.timer__title {
  text-align: center;
  font-size: 11px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
}

.timer-counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.timer-counters__numbers {
  color: var(--c-primary);
  font-size: 56px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.1em;
  font-family: var(--ff-title);
  margin-right: -14px;
}

.timer-counters__name {
  font-size: 10px;
  line-height: 130%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #727272;
}

.no-bg {
  background: none;
}

.pop-callback {
  max-width: 300px;
  background-color: #fff;
  padding: 30px 12px;
}

.pop-callback__title {
  margin-bottom: 5px;
  text-align: center;
  font-size: 31px;
}

.pop-callback__subtitle {
  margin-bottom: 15px;
  font-weight: 700;
  text-align: center;
  line-height: 131.4%;
  font-size: 15px;
}

.page__privacy {
  padding-bottom: 30px;
}

.page__privacy h1,
.page__privacy h2,
.page__privacy h3 {
  font-weight: 600;
}

.page__privacy h2,
.page__privacy h3,
.page__privacy p {
  margin-top: 2em;
  margin-bottom: 1em;
}
/*# sourceMappingURL=index.css.map */